@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ClinicSystem.Models.Drug>

@{
    ViewData["Title"] = "Drug";
}

<h3>Drug</h3>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.DrugId">Edit</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.DrugId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DrugId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#classList6").addClass("active");
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
            );
        });
    </script>
}
