@model IEnumerable<ClinicSystem.Models.Doctor>

@{
    ViewData["Title"] = "Doctor";
}

<h3 class="text-green">Doctor List</h3>
<hr />

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Doctor</a>
</p>
<form class="form-inline" asp-controller="Doctors" asp-action="Index">
        <p>
             Doctor Name:<input type="text" class="form-control" name="searchString" size="15" />
             <input type="submit" class="btn btn-primary" value="Search" />
        </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorNRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int row = 0;}
    @foreach (var item in Model) {
        <tr>
            <td>
                @(row += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorNRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#classList2").addClass("active");
        });
    </script>
}

