@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        @ViewData["Title"]-Argon Dashboard - Free Dashboard for Bootstrap 4 by Creative Tim
    </title>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>





    <link rel="stylesheet" href="~/assets/css/all.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/carousel.css" />
    <link rel="stylesheet" href="~/assets/css/colors.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" />

    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/lightbox.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

</head>

<body class="">
    <header class="header transparent-header" style="background-color:green">
        <div class="container" style="background-image:url(~/assets/images/logo-app.png)">
            <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav" >
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="~/assets/images/output-onlinepngtools.png"/>
                <div class="collapse navbar-collapse" id="navbarTopMenu">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

                        <li id="classList1">
                            <a class=" nav-link" asp-area="" asp-controller="Specialities" asp-action="Index"  style="text-align:center">
                                <i class="ni ni-tv-2 text-primary"></i> Speciality
                            </a>
                        </li>
                        <li id="classList2">
                            <a class="nav-link " asp-area="" asp-controller="Doctors" asp-action="Index"  style="text-align:center">
                                <i class="ni ni-planet text-blue"></i> Doctor
                            </a>
                        </li>
                        <li id="classList3">
                            <a class="nav-link " asp-area="" asp-controller="Schedules" asp-action="Index" style="text-align:center">
                                <i class="ni ni-planet text-blue"></i> Create Appointment
                            </a>
                        </li>
                        <li id="classList4">
                            <a class="nav-link " asp-area="" asp-controller="Patients" asp-action="Index"  style="text-align:center">
                                <i class="ni ni-pin-3 text-orange"></i> Register Patient
                            </a>
                        </li>

                        <li id="classList5">
                            <a class="nav-link " asp-area="" asp-controller="Appointments" asp-action="Index"  style="text-align:center">
                                <i class="ni ni-bullet-list-67 text-red"></i> Appointment
                            </a>
                        </li>
                        <li class="nav-item dropdown has-submenu">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"  style="text-align:center">Drugs</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                <li id="classList6"><a class="dropdown-item" asp-area="" asp-controller="Drugs" asp-action="Index"  style="text-align:center">Add Drug</a></li>
                                <li id="classList7"><a class="dropdown-item"asp-area="" asp-controller="DrugSells" asp-action="Index"  style="text-align:center">Drug Sell</a></li>
                                
                            </ul>
                        </li>

                        @*<li id="classList6">
                            <a class="nav-link " asp-area="" asp-controller="Drugs" asp-action="Index">
                                <i class="ni ni-bullet-list-67 text-red"></i> Add Drug
                            </a>
                        </li>
                        <li id="classList7">
                            <a class="nav-link " asp-area="" asp-controller="DrugSells" asp-action="Index">
                                <i class="ni ni-bullet-list-67 text-red"></i> Drug Sell
                            </a>
                        </li>*@
                        <li id="classList8">
                            <a class="nav-link " asp-area="" asp-controller="VitalSigns" asp-action="Index">
                                <i class="ni ni-bullet-list-67 text-red"></i> Vital Sign
                            </a>
                        </li>
                        <li id="classList9">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DoctorWorkbench">
                                <i class="ni ni-bullet-list-67 text-red"></i> Doctor's Workbench
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }

                    </ul>
                   
                </div>
            </nav>
        </div><!--/.container inside nav-->
    </header>

    <div class="container">
        <main role="main" style="margin-top:150px">
            @RenderBody()
        </main>
    </div>

    @*<div class="container-fluid" style="margin-left:18%">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/map.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


    @RenderSection("Scripts", required: false)

</body>

</html>