@model IEnumerable<ClinicSystem.Models.Order>
@{
    ViewData["Title"] = "Index";
}

<h3>Pending Orders</h3>



        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        Patient
                        @Html.DisplayNameFor(model => model.Patient.Name)
                    </th>
                    <th>
                        Doctor
                        @Html.DisplayNameFor(model => model.Doctor.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsBillClear)
                    </th>
                    <th>Drugs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsBillClear.Equals(false)) { 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsBillClear)
                        </td>
                        <td>
                            @{
                                string cs = "";
                                foreach (DrugOrder sc in item.DrugOrders.ToList())
                                {
                                    cs += sc.Drug.Name + " ,";
                                }
                                <label>@cs</label>
                            }
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="ConfirmOrder" asp-action="Confirm_Order" asp-route-id="@item.Id">Confirm Order</a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
            );
        });
    </script>

}