@model IEnumerable<ClinicSystem.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                Schedule Day
                <!--  Html.DisplayNameFor(model => model.Schedule)     -->
            </th>
            <th>
                Schedule Part Time(From)
            </th>
            <th>
                Schedule Part Time(End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatementDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.FromTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ToTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatementDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
